@using VCubWatcher.Models

@{
    ViewBag.Title = "Liste des stations";

    var stations = ViewData["Stations"] as List<Station>;
    stations.Sort((s1, s2) => s1.Name.CompareTo(s2.Name));
}

<h2>Liste</h2>


<ul class="list-group">
    @foreach (var station in stations)
    {
        <li class="list-group-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@station.Name</h5>
                </div>
            </div>
        </li>
    }
</ul>
