@{
    ViewBag.Title = "Acceuil";
}

<div class="jumbotron">
    <h1>AURIOL Thomas</h1>
    <!-- list-group-item-success -->
    <ul class="list-group">
        <li class="list-group-item list-group-item-success">Créer une application ASP.Net Core</li>
        <li class="list-group-item list-group-item-success">Créer un repository Github</li>
        <li class="list-group-item list-group-item-success">Publier le code à chaque avancée</li>
        <li class="list-group-item list-group-item-success">Supprimer et ajouter des pages</li>
        <li class="list-group-item list-group-item-success">Compléter la page acceuil</li>
        <li class="list-group-item list-group-item-success">Se brancher sur l'API VCub</li>
        <li class="list-group-item list-group-item-success">Afficher les données de l'API sous forme de tableau sur la page "Liste des stations"</li>
        <li class="list-group-item">Afficher les données de l'API sous forme de carte sur la page "Carte"</li>
        <li class="list-group-item">Ajouter sur chaque épingle de la carte la possibilité de cliquer pour afficher une infobulle</li>
        <li class="list-group-item">Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris</li>
        <li class="list-group-item">Compléter la page "Mes favoris"</li>
        <li class="list-group-item">Stocker les stations favorites dans les cookies de votre navigateur ou le localstorage</li>
        <li class="list-group-item">Centrer automatiquement la carte par rapport à la position de l'utilisateur</li>
        <li class="list-group-item">Trier automatiquement la liste des stations par rapport à la position de l'utilisateur</li>
        <li class="list-group-item">Centrer automatiquement la carte par rapport à la position de l'utilisateur</li>
        <li class="list-group-item">Rendre votre application bilingue Français / Anglais</li>
        <li class="list-group-item">Déployer votre code sur un serveur accessible publiquement en consultation</li>
        <li class="list-group-item">Faire en sorte que votre site soit agréable à utiliser sur mobile</li>
        <li class="list-group-item">BONUS</li>
    </ul>
    <p><a href="https://github.com/Nimeryon/VCubWatcher" class="btn btn-primary btn-lg">Lien GitHub</a></p>
</div>